<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit form</title>
</head>
<body>
    <h1>Welcome Admin</h1>
    <form action="/myWork/publish" method="post">

        <label for="reference_link">ENTER REFERENCE LINK</label>
        <input type="text" name="reference_link" id="reference_link">

        <label for="img_url">ENTER IMAGE URL</label>
        <input type="text" name="img_url" id="img_url">

        <label for="title">ENTER TITLE HERE</label>
        <input type="text" name="title" id="title">

        <label for="description">ENTER DESCRIPTION</label>
        <input type="text" name="description" id="description">

        <label for="password">ENTER PASSWORD</label>
        <input type="password" name="password"></label>

        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>